
<section class="bg-home">
  <div class="container py-5">
    <div class="d-flex flex-column gap-1 justify-content-center py-5 mt-5 text-white">

      <h2 class="text-uppercase fw-bolder fs-1 text-center pt-5 mt-5">ABOUT COMPONENT</h2>
      <div class="d-flex gap-3 m-auto">
        <p class="line text-center p-1"></p>
        <i class="fa-solid fa-star align-baseline"></i>
        <p class="line text-center p-1"></p>

      </div>
     <div class="row mb-5 justify-content-center ">
      <div class="col-lg-5">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-5">
        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      </div>
     </div>
    </div>
  </div>
</section>
