<div class="container">
<div class="d-flex flex-column gap-3  pt-5 mt-5">
  <h2 class="text-uppercase fw-bolder fs-1 text-center clr pt-4">PORTFOLIO COMPONENT</h2>
  <div class="d-flex gap-3 m-auto">
    <p class="line text-center p-1"></p>
    <i class="fa-solid fa-star clr align-baseline"></i>
    <p class="line text-center p-1"></p>

  </div>
</div>

<!-- <i _ngcontent-kda-c19="" class="text-white fa-solid fa-plus fa-6x"></i> -->

  <div class="row g-5 mt-1 mb-5">
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="item ">
        <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
      <div class="layer d-flex justify-content-center align-items-center rounded-3">
        <i class="text-white fa-solid fa-plus fa-6x"></i>
      </div>
      </div>
    </div>
  </div>
</div>
