<section class="bg-subFooter">
  <div class="container pad text-white ">
   <div class="row g-5">
    <div class="col-lg-4">
      <div class="text-center">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-lg-4 mb-3">
      <div class="d-flex flex-column align-items-center">
        <h3>AROUND THE WEB</h3>
        <div class="d-flex gap-2">
          <i class="fa-brands fa-facebook border border-white rounded-circle p-2"></i>
          <i class="fa-brands fa-twitter border border-white rounded-circle p-2"></i>
          <i class="fa-brands fa-linkedin-in border border-white rounded-circle p-2"></i>
          <i class="fa-solid fa-globe mx-1  border border-white rounded-circle p-2"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="d-flex flex-column text-center">
        <h3>ABOUT FREELANCER</h3>
        <p class="text-wrap">Freelance is a free to use, licensed Bootstrap theme <br> created by Route</p>
      </div>
    </div>

   </div>
  </div>
</section>
