
<section class="bg-home">
  <div class="container">
    <div class="d-flex flex-column gap-1 justify-content-center pt-5 mt-5 text-white">
      <div class="d-flex justify-content-center mt-4">
        <img src="assets/images/avataaars.svg" class="img-width" alt="">
      </div>
      <p class="text-uppercase fw-bolder fs-1 text-center mt-3">START FRAMEWORK</p>
      <div class="d-flex gap-3 m-auto">
        <p class="line text-center p-1"></p>
        <i class="fa-solid fa-star align-baseline"></i>
        <p class="line text-center p-1"></p>

      </div>
      <div class="text-center mb-4">
        <p>Graphic Artist - Web Designer - Illustrator</p>
      </div>
    </div>
  </div>
</section>
